# Ignore all dotfiles and hidden directories
.*
!.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover
cover/
/tests-results.xml

# Package managers
*.lock
__pypackages__/
